/*
  FrameWorK CodeHamperCss
  0.0.1
*/

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
}

/* Typography
================*/
html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-weight: normal;
  color: #444;
}
@media only screen and (min-width: 0) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 15.5px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}
h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}
h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}
h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}
h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}
h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}
p{

}
em {
  font-style: italic;
}
b, strong {
  font-weight: 500;
}
small {
  font-size: 75%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.center-text{ text-align: center;}
.text-large { font-weight: 300; }
@media only screen and (min-width: 360px) {
  .text-large { font-size: 1.2rem; }
}
@media only screen and (min-width: 390px) {
  .text-large { font-size: 1.224rem; }
}
@media only screen and (min-width: 420px) {
  .text-large { font-size: 1.248rem; }
}
@media only screen and (min-width: 450px) {
  .text-large { font-size: 1.272rem; }
}
@media only screen and (min-width: 480px) {
  .text-large { font-size: 1.296rem; }
}
@media only screen and (min-width: 510px) {
  .text-large { font-size: 1.32rem; }
}
@media only screen and (min-width: 540px) {
  .text-large { font-size: 1.344rem; }
}
@media only screen and (min-width: 570px) {
   .text-large { font-size: 1.368rem; }
}
@media only screen and (min-width: 600px) {
  .text-large { font-size: 1.392rem; }
}
@media only screen and (min-width: 630px) {
  .text-large { font-size: 1.416rem; }
}
@media only screen and (min-width: 660px) {
  .text-large { font-size: 1.44rem; }
}
@media only screen and (min-width: 690px) {
  .text-large { font-size: 1.464rem; }
}
@media only screen and (min-width: 720px) {
  .text-large { font-size: 1.488rem; }
}
@media only screen and (min-width: 750px) {
  .text-large { font-size: 1.512rem; }
}
@media only screen and (min-width: 780px) {
  .text-large { font-size: 1.536rem; }
}
@media only screen and (min-width: 810px) {
  .text-large { font-size: 1.56rem; }
}
@media only screen and (min-width: 840px) {
  .text-large { font-size: 1.584rem; }
}
@media only screen and (min-width: 870px) {
  .text-large { font-size: 1.608rem; }
}
@media only screen and (min-width: 900px) {
  .text-large { font-size: 1.632rem; }
}
@media only screen and (min-width: 930px) {
  .text-large { font-size: 1.656rem; }
}
@media only screen and (min-width: 960px) {
  .text-large { font-size: 1.68rem; }
}
@media only screen and (max-width: 360px) {
  .text-large { font-size: 1.2rem; }
}

/* Colunas
=====================*/
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width : 601px) {
  .container { width: 85%;}
}
@media only screen and (min-width : 993px) {
  .container { width: 70%; }
}
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  opacity: 0.9
}
.grid{
  border: 1px solid #fff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  margin-left: 0;
}
.row .col.s1 { width: 4.166666667%;}
.row .col.s2 { width: 8.33333%;}
.row .col.s3 { width: 12.5%;}
.row .col.s4 { width: 16.666666667%;}
.row .col.s5 { width: 20.833333333%;}
.row .col.s6 { width: 25%;}
.row .col.s7 { width: 29.166666667%;}
.row .col.s8 { width: 33.333333333%;}
.row .col.s9 { width: 37.5%;}
.row .col.s10 { width: 41.666666667%;}
.row .col.s11 { width: 45.833333333%;}
.row .col.s12 { width: 50%;}
.row .col.s13 { width: 54.166666667%;}
.row .col.s14 { width: 58.333333333%;}
.row .col.s15 { width: 62.5%;}
.row .col.s16 { width: 66.666666667%;}
.row .col.s17 { width: 70.833333333%;}
.row .col.s18 { width: 75%;}
.row .col.s19 { width: 79.166666667%;}
.row .col.s20 { width: 83.333333333%;}
.row .col.s21 { width: 87.5%;}
.row .col.s22 { width: 91.666666667%;}
.row .col.s23 { width: 95.833333333%;}
.row .col.s24 { width: 100%;}

.row .col.offset-s1 { margin-left: 4.166666667%;}
.row .col.offset-s2 { margin-left: 8.33333%;}
.row .col.offset-s3 { margin-left: 12.5%;}
.row .col.offset-s4 { margin-left: 16.666666667%;}
.row .col.offset-s5 { margin-left: 20.833333333%;}
.row .col.offset-s6 { margin-left: 25%;}
.row .col.offset-s7 { margin-left: 29.166666667%;}
.row .col.offset-s8 { margin-left: 33.333333333%;}
.row .col.offset-s9 { margin-left: 37.5%;}
.row .col.offset-s10 { margin-left: 41.666666667%;}
.row .col.offset-s11 { margin-left: 45.833333333%;}
.row .col.offset-s12 { margin-left: 50%;}
.row .col.offset-s13 { margin-left: 54.166666667%;}
.row .col.offset-s14 { margin-left: 58.333333333%;}
.row .col.offset-s15 { margin-left: 62.5%;}
.row .col.offset-s16 { margin-left: 66.666666667%;}
.row .col.offset-s17 { margin-left: 70.833333333%;}
.row .col.offset-s18 { margin-left: 75%;}
.row .col.offset-s19 { margin-left: 79.166666667%;}
.row .col.offset-s20 { margin-left: 83.333333333%;}
.row .col.offset-s21 { margin-left: 87.5%;}
.row .col.offset-s22 { margin-left: 91.666666667%;}
.row .col.offset-s23 { margin-left: 95.833333333%;}
.row .col.offset-s24 { margin-left: 100%;}

@media only screen and (min-width : 601px) {
   .row .col.m1 { width: 4.166666667%;}
   .row .col.m2 { width: 8.33333%;}
   .row .col.m3 { width: 12.5%;}
   .row .col.m4 { width: 16.666666667%;}
   .row .col.m5 { width: 20.833333333%;}
   .row .col.m6 { width: 25%;}
   .row .col.m7 { width: 29.166666667%;}
   .row .col.m8 { width: 33.333333333%;}
   .row .col.m9 { width: 37.5%;}
   .row .col.m10 { width: 41.666666667%;}
   .row .col.m11 { width: 45.833333333%;}
   .row .col.m12 { width: 50%;}
   .row .col.m13 { width: 54.166666667%;}
   .row .col.m14 { width: 58.333333333%;}
   .row .col.m15 { width: 62.5%;}
   .row .col.m16 { width: 66.666666667%;}
   .row .col.m17 { width: 70.833333333%;}
   .row .col.m18 { width: 75%;}
   .row .col.m19 { width: 79.166666667%;}
   .row .col.m20 { width: 83.333333333%;}
   .row .col.m21 { width: 87.5%;}
   .row .col.m22 { width: 91.666666667%;}
   .row .col.m23 { width: 95.833333333%;}
   .row .col.m24 { width: 100%;}

   .row .col.offset-m1 { margin-left: 4.166666667%;}
   .row .col.offset-m2 { margin-left: 8.33333%;}
   .row .col.offset-m3 { margin-left: 12.5%;}
   .row .col.offset-m4 { margin-left: 16.666666667%;}
   .row .col.offset-m5 { margin-left: 20.833333333%;}
   .row .col.offset-m6 { margin-left: 25%;}
   .row .col.offset-m7 { margin-left: 29.166666667%;}
   .row .col.offset-m8 { margin-left: 33.333333333%;}
   .row .col.offset-m9 { margin-left: 37.5%;}
   .row .col.offset-m10 { margin-left: 41.666666667%;}
   .row .col.offset-m11 { margin-left: 45.833333333%;}
   .row .col.offset-m12 { margin-left: 50%;}
   .row .col.offset-m13 { margin-left: 54.166666667%;}
   .row .col.offset-m14 { margin-left: 58.333333333%;}
   .row .col.offset-m15 { margin-left: 62.5%;}
   .row .col.offset-m16 { margin-left: 66.666666667%;}
   .row .col.offset-m17 { margin-left: 70.833333333%;}
   .row .col.offset-m18 { margin-left: 75%;}
   .row .col.offset-m19 { margin-left: 79.166666667%;}
   .row .col.offset-m20 { margin-left: 83.333333333%;}
   .row .col.offset-m21 { margin-left: 87.5%;}
   .row .col.offset-m22 { margin-left: 91.666666667%;}
   .row .col.offset-m23 { margin-left: 95.833333333%;}
   .row .col.offset-m24 { margin-left: 100%;}
}
@media only screen and (min-width : 993px) {
   .row .col.l1 { width: 4.166666667%;}
   .row .col.l2 { width: 8.33333%;}
   .row .col.l3 { width: 12.5%;}
   .row .col.l4 { width: 16.666666667%;}
   .row .col.l5 { width: 20.833333333%;}
   .row .col.l6 { width: 25%;}
   .row .col.l7 { width: 29.166666667%;}
   .row .col.l8 { width: 33.333333333%;}
   .row .col.l9 { width: 37.5%;}
   .row .col.l10 { width: 41.666666667%;}
   .row .col.l11 { width: 45.833333333%;}
   .row .col.l12 { width: 50%;}
   .row .col.l13 { width: 54.166666667%;}
   .row .col.l14 { width: 58.333333333%;}
   .row .col.l15 { width: 62.5%;}
   .row .col.l16 { width: 66.666666667%;}
   .row .col.l17 { width: 70.833333333%;}
   .row .col.l18 { width: 75%;}
   .row .col.l19 { width: 79.166666667%;}
   .row .col.l20 { width: 83.333333333%;}
   .row .col.l21 { width: 87.5%;}
   .row .col.l22 { width: 91.666666667%;}
   .row .col.l23 { width: 95.833333333%;}
   .row .col.l24 { width: 100%;}

   .row .col.offset-l1 { margin-left: 4.166666667%;}
   .row .col.offset-l2 { margin-left: 8.33333%;}
   .row .col.offset-l3 { margin-left: 12.5%;}
   .row .col.offset-l4 { margin-left: 16.666666667%;}
   .row .col.offset-l5 { margin-left: 20.833333333%;}
   .row .col.offset-l6 { margin-left: 25%;}
   .row .col.offset-l7 { margin-left: 29.166666667%;}
   .row .col.offset-l8 { margin-left: 33.333333333%;}
   .row .col.offset-l9 { margin-left: 37.5%;}
   .row .col.offset-l10 { margin-left: 41.666666667%;}
   .row .col.offset-l11 { margin-left: 45.833333333%;}
   .row .col.offset-l12 { margin-left: 50%;}
   .row .col.offset-l13 { margin-left: 54.166666667%;}
   .row .col.offset-l14 { margin-left: 58.333333333%;}
   .row .col.offset-l15 { margin-left: 62.5%;}
   .row .col.offset-l16 { margin-left: 66.666666667%;}
   .row .col.offset-l17 { margin-left: 70.833333333%;}
   .row .col.offset-l18 { margin-left: 75%;}
   .row .col.offset-l19 { margin-left: 79.166666667%;}
   .row .col.offset-l20 { margin-left: 83.333333333%;}
   .row .col.offset-l21 { margin-left: 87.5%;}
   .row .col.offset-l22 { margin-left: 91.666666667%;}
   .row .col.offset-l23 { margin-left: 95.833333333%;}
   .row .col.offset-l24 { margin-left: 100%;}
}

/*
 Color
*/

/* Background*/
.sunflower{ background-color: #f1c40f; }
.orange{ background-color: #f39c12;}
.carrot{ background-color: #e67e22;}
.pumpkin{ background-color: #d35400;}
.red{ background-color: #e74c3c;}
.pomegranate{ background-color: #c0392b;}
.clouds{ background-color: #ecf0f1; }
.silver{ background-color: #bdc3c7;}
.white{ background-color: #fff;}

/* text*/
.white-text{ color: #fff;}
.black-text{ color: #000;}
